body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: 'Abhaya Libre', serif;
    font-weight: bold;
    color: #0C1E7F;
}

p {
    font-size: 18px;
    text-align: justify;
}

h1 {
    font-size: 50px;
}

.containerBody {
    margin: 0 15% 0 15%;
    display: grid;
    justify-content: center;
}

iframe {
    margin-top: 20px;
    border-radius: 20px;
}

button {
    cursor: pointer;
}

.navbar {
    margin: 0 15% 0 15%;
    display: flex;
    border-bottom: 2px;
    border-bottom-style: solid;
    height: 5rem;
    justify-content: center;
}

.navbar .button {
    margin: 20px;
}

.button {
    height: 18px;
    background-color: #FFC38B;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
}

.button:hover {
    background-color: #ffe9d4;
    color: #FFC38B;
    cursor: pointer;
    transition: 0.3s;
}

.logo {
    margin-top: 10px;
    height: 3rem;
}

.faleConosco {
    width: auto;
    height: 7rem;
    margin-top: -20px;
}

.socialLogo {
    margin-top: 13px;
    width: auto;
    height: 3rem;
}

.containerBanner{
    background-color: #FFC38B;
    margin-top: 10px;
}

.containerBanner img{
    max-height: 15rem;
    margin-left: 20%;
}

.containerIntro {
    display: flex;
}

.containerIntro .introText {
    width: 50%;
    display: grid;
}

.containerIntro .introText p {
    width: 70%;
    text-align: justify;
}

.containerIntro .introText .button {
    justify-self: end;
    margin: 0;
}

.containerIntro .introVideo {
    width: 50%;
    display: grid;
}

.containerIntro .introVideo iframe {
    height: 220px;
    width: 400px;
    justify-self: center;
}

.containerIntro .introVideo .button {
    justify-self: end;
    align-self: end;
    margin: 0;
}

.divisor {
    border-bottom: 2px solid #0C1E7F;
    margin: 20px 0;
}

.containerNoticias {
    display:flex;
}

.containerNoticias .noticias {
    display: grid;
    width: 50%;
}

.containerNoticias .noticias * {
    margin: 0;
}

.containerNoticias .noticias img {
    max-width: 70%;
}

.containerNoticias .noticias .button {
    align-self: end;
    justify-self: end;
}

.containerNoticias .noticiasText {
    width: 50%;
    margin-top: 40px;
    display: grid;
}

.containerNoticias .noticiasText .button {
    margin: 0;
    justify-self: end;
    align-self: end;
}

.containerLogin {
    display: flex;
}

.containerLogin .loginVideo {
    width: 50%;
    margin-top: 60px;
}

.containerLogin .loginVideo iframe {
    height: 220px;
    width: 400px;
}

.containerLogin .login {
    background-color: #ffe9d4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 100px 0;
    margin-right: 20px;
} 

.containerLogin .login .loginBox {
    display: grid;
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    width: 50%;
}

.containerLogin .login .loginBox img {
    justify-self: center;
    max-width: 50%;
}

.containerLogin .login .loginBox input {
    margin-top: 10px;
    background-color: rgb(209, 209, 209);
    border: 0;
    border-radius: 5px;
    height: 40px;
}

.containerLogin .login .loginBox input::placeholder {
    padding: 10px;
}

.containerLogin .login .loginBox .checkbox-container  {
    display: flex;
    align-items: center;
    justify-self: center;
    cursor: pointer;
}

.containerLogin .login .loginBox .checkbox-container input {
    display: none;
}

.containerLogin .login .loginBox .checkbox-container .checkmark {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: white;
    border: 2px solid rgb(0, 119, 255);
    border-radius: 3px;
    margin-right: 10px;
  }

.containerLogin .login .loginBox .checkbox-container input:checked + .checkmark {
    background-color: rgb(0, 119, 255);
}

.containerLogin .login .loginBox .checkbox-container .checkmark:after {
    content: "";
    display: none;
}

.containerLogin .login .loginBox .checkbox-container input:checked + .checkmark:after {
    display: block;
    content: "";
    width: 3px;
    height: 5px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    margin-left: 2px;
}
  
.containerLogin .login .loginBox button {
    width: 100%;
    height: 40px;
    background-color: #FFC38B;
    border-radius: 10px;
    border: 0;
    font-family: 'Abhaya Libre', serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.containerLogin .login .loginBox a{
    margin-top: -15px;
}

.containerRetangulo {
    display: flex;
    justify-content: center;
}

.containerRetangulo .retangulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 30px;
    border: 7px solid #FFC38B;
    border-radius: 20px;
    margin: 0 20px;
}

.circle {
    display: block;
    text-align: center;
}

.circle p {
    font-size: 15px;
    text-align: center;
}

.circle img {
    width: 40%;
    border-radius: 100%;
    height: auto;
}

.underBar {
    display: flex;
    margin: 25px 0;
}

.underBar .underImg2 {
    margin-left: auto;
    align-self: center;
}

.underBar img {
    max-width: 15%;
}
